In [69]:
import os 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from glob import glob 
import json 

exp_list = [
'/Volume/MoLeFlow/logs/baseline_v1.1_embed_dim_fix',
'/Volume/MoLeFlow/logs/baseline_v1.1_embed_fix_jacobian_fix_no_ln_after_task0',
'/Volume/MoLeFlow/logs/baseline_v1.2_embed_fix_jacobian_fix',
'/Volume/MoLeFlow/logs/baseline_v1.3_embed_fix_jacobian_fix_soft_ln_init_scale_0.01',
'/Volume/MoLeFlow/logs/baseline_v1.4_embed_fix_jacobian_fix_soft_ln_init_scale_0.01_lambda_logdet_1e-5',
'/Volume/MoLeFlow/logs/baseline_v1.5_embed_fix_jacobian_fix_soft_ln_init_scale_0.01_lambda_logdet_1e-5_spatial_context_kernel_3',
'/Volume/MoLeFlow/logs/baseline_v1.6_embed_fix_jacobian_fix_soft_ln_init_scale_0.01_scale_context_k3_a0.1',
'/Volume/MoLeFlow/logs/baseline_v1.7_scale_context_k3_a0.1',
'/Volume/MoLeFlow/logs/baseline_v1.8_patch_wise_context_gate_k3_hidden64',


]


df = pd.DataFrame()
for exp_path in exp_list:
    for log_path in glob(os.path.join(exp_path, 'final_results.csv')):
        temp_df = pd.read_csv(log_path)
        temp_df['exp_name'] = os.path.basename(exp_path)
        df = pd.concat([df, temp_df])

In [70]:
# The error is due to non-unique index, so we must reset the index for Styler to work.
df[df['Class Name']=='grid'].reset_index(drop=True).style.set_properties(
    subset=['exp_name'], **{'max-width': '600px', 'white-space': 'pre-wrap'}
)

In [71]:
# The error is due to non-unique index, so we must reset the index for Styler to work.
df[df['Task ID']=='Mean'].reset_index(drop=True).style.set_properties(
    subset=['exp_name'], **{'max-width': '600px', 'white-space': 'pre-wrap'}
)